@import "tailwindcss";

/* Hide scrollbar for Chrome, Safari, Edge */
::-webkit-scrollbar {
  display: none;
}

@keyframes float{
  0%, 100%{
    transform: translateY(0px);
  }
  50%{
    transform: translateY(-20px);
  }
}

.float{
  animation: float 6s ease-in-out infinite;
}

.float-slow{
  animation: float 8s ease-in-out infinite;
}

.float-fast{
  animation: float 4s ease-in-out infinite;
}